.body{
    flex:0.95;
    height: 100vh;
    background-color: burlywood;
    color:white;
    padding:30px;
}
.header{
    background-color: cadetblue;
    text-align: center;
    size: auto;
}

#tabell td{
    padding: 26px;    
}

.body-container{
    width: 95%;
}
#customer-fields{
    text-align: right;
}
/* #tabell tr:hover{
    background-color: #ddd;
} */